.header{
    width: 100%;
    height: 100px;
    position: relative;
    overflow: hidden;
    &__img{
        position: absolute;
        width: 100%;
        @include img-object-fit(100px,cover,0)
    }
    @include laptop-view{
        width: 100%;
        height: 300px;
        position: relative;
        overflow: hidden;
        &__img{
            position: absolute;
            width: 100%;
            @include img-object-fit(300px,cover,0)
        }
    }
}